<nav>
    <div class="logoBox navbox">
        <a href="/">
            <h3 data-splitting>DEV <span class="diff">RIJU</span></h3>
        </a>
    </div>
    <div class="navLinks navbox">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/project">Portfolio</a></li>
            <li><a href="/Contact Us" class="btn navBtn">Contact</a></li>
        </ul>
    </div>

    <div class="navBar">
        <div class="barBox">
            <div class="bar one"></div>
            <div class="bar two"></div>
            <div class="bar three"></div>
        </div>
    </div>
</nav>